:root {
  --white: #f9f9f9;
  --black: #000;
  --purple: #e301be;
  --dark-blue: #360c86;
  --light-blue: #6b00ff;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=block");

body {
  margin: 0;
  font-family: Roboto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
}

.MovieList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
  margin: 12em 0;
}

@media (max-width: 1200px) {
  .MovieList {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}
@media (max-width: 786px) {
  .MovieList {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
}
